<form action="index.html" class="box">
    <h1>To do</h1>
    <ul>{{#each users}}<li>{{username}}</li>{{/each}}</ul>
    <div class="txtb">
        <input type="text" placeholder="Add a todo item">
    </div>

    <input type="submit" class="submit-btn" value="Add">

</form>